Repository Khamel83/oos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @codeowners, @infrastructure, @backend, @frontend, @devops, @documentation, @security, @quality-assurance, @architecture

.github/CODEOWNERS:

# CODEOWNERS file for code review assignments
# Global ownership - all files
* @codeowners

# Core infrastructure
/bin/ @infrastructure
/scripts/ @infrastructure
/lib/ @backend
/dashboard/ @frontend

# Configuration and CI/CD
/.github/ @devops
/pyproject.toml @backend
/requirements*.txt @backend
/run.py @backend

# Documentation
/docs/ @documentation
README.md @documentation
CONTRIBUTING.md @documentation
SECURITY.md @security

# Tests
/tests/ @quality-assurance

# Templates and specs
/templates/ @architecture
/specs/ @architecture

feat: comprehensive OOS development toolchain with learning system
  .claude/slash_commands.json
  .github/workflows/archon-sync.yml
  .github/workflows/ci-old.yml
  .github/workflows/ci.yml
  .github/workflows/shell-portability.yml
  .github/workflows/streamlined-ci.yml
  bin/claude-consultant.sh
  bin/claude-oos.sh
  bin/deposit.sh
  bin/integrate_to_parent.sh
  bin/oos-command.sh
  src/commands/consultant_command.py
  src/simple_command_handler.py
Owners: @codeowners, @devops, @infrastructure

fix: critical UX fixes - make OOS installation actually work
  .claude/auto_patterns.json
  .claude/project_commands.json
  .claude/slash_commands.json
  README.md
  bin/claude-run-command.sh
  bin/claude-start-coding-v2.sh
  bin/claude-start-coding-v3.sh
  bin/claude-start-coding.sh
  bin/oos-bootstrap.sh
  bin/oos-install-into-project.sh
  bin/oos-module-runner.sh
  bin/oos-template-manager.sh
  bin/oos-update-from-github.sh
  compositions/README.md
  compositions/full-dev-setup.sh
  compositions/pre-commit.sh
  compositions/start-coding.sh
  docs/COMPLETE_ECOSYSTEM.md
  docs/COMPLETE_UX_WORKFLOW.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/INSTALL.md
  docs/OOS_ETHOS_2024.md
  modules/README.md
  modules/ai/explain_code.sh
  modules/ai/generate_commit.sh
  modules/git/check_status.sh
  modules/python/check_uv.sh
  modules/security/check_1password.sh
  modules/security/check_permissions.sh
  modules/security/scan_secrets.sh
  modules/testing/lint_code.sh
  modules/testing/run_pytest.sh
  templates/python-project.sh
Owners: @codeowners, @documentation, @infrastructure, @architecture

fix: update installer to download from GitHub when run standalone
  bin/oos-install-into-project.sh
Owners: @infrastructure

add: simple standalone installer for GitHub installation
  install.sh
Owners: @codeowners

fix: complete simple installer that works from GitHub
  install.sh
Owners: @codeowners

refactor: auto-fix code consistency and documentation improvements
  .claude/slash_commands.json
  .gitignore
  tests/test_claude_integration.py
  tests/test_context_engineering.py
  tests/test_end_to_end.py
  tests/test_repository_analyzer.py
  tests/test_workflow_orchestrator.py
Owners: @codeowners, @quality-assurance

docs: add OOS 2.0 vision for modern Unix Philosophy refactor
  OOS_2.0_VISION.md
Owners: @codeowners

docs: comprehensive documentation optimization for humans and AI
  DOCUMENTATION_INDEX.md
  README_OPTIMIZED.md
  docs/AI_COMPREHENSIVE_GUIDE.md
Owners: @codeowners, @documentation

philosophy: adopt human+AI development partnership as core ethos
  HUMAN_AI_DEVELOPMENT_ETHOS.md
  README_HUMAN_AI.md
  docs/AI_DEVELOPMENT_GUIDELINES.md
Owners: @codeowners, @documentation

fix: update GitHub installer with all required modules
  install.sh
Owners: @codeowners

docs: create GitHub-ready documentation with hyperlinks
  DOCUMENTATION_INDEX.md
  QUICK_START.md
  README.md
  USER_READY_SETUP.md
Owners: @codeowners, @documentation

fix: implement robust CI/CD system for systematic brain environment
  .github/workflows/archon-sync.yml
  .github/workflows/ci-old.yml
  .github/workflows/ci.yml
  .github/workflows/shell-portability.yml
  .github/workflows/streamlined-ci.yml
  OOS_2.0_VISION.md
  QUICK_START.md
  README.md
  docs/PERSONAL_OPS_VISION.md
Owners: @devops, @codeowners, @documentation

fix: resolve YAML syntax issues in CI workflow
  .github/workflows/ci.yml
Owners: @devops

docs: clarify systematic brain environment messaging
  DOCUMENTATION_INDEX.md
  QUICK_START.md
  README.md
  USER_READY_SETUP.md
Owners: @codeowners, @documentation

fix: update installer to create proper Claude Code slash commands
  install.sh
Owners: @codeowners

fix: install ALL Claude Code slash commands, not just start-coding
  install.sh
Owners: @codeowners

fix: create ALL slash commands locally in project, not globally
  install.sh
Owners: @codeowners

docs: update README with complete slash command instructions
  README.md
Owners: @documentation

feat: make /start-coding actually FIX problems instead of just warning
  bin/claude-start-coding.sh
Owners: @infrastructure

feat: make /start-coding MUCH more aggressive about fixing problems
  bin/claude-start-coding.sh
Owners: @infrastructure

fix: extend development gate timeout from 1 hour to 4 hours and make configurable
  bin/install-mandatory-hooks.sh
Owners: @infrastructure

feat: add comprehensive 1Password service account integration
  README.md
  bin/claude-start-coding.sh
  bin/dev-gate.sh
  bin/setup-1password-service.sh
  install.sh
Owners: @documentation, @infrastructure, @codeowners

feat: add Archon integration
  README.md
  bin/claude-start-coding.sh
  bin/dev-gate.sh
  bin/install-mandatory-hooks.sh
  bin/setup-archon.sh
  install.sh
Owners: @documentation, @infrastructure, @codeowners

feat: implement comprehensive Archon MCP integration framework
  CLAUDE.md
  bin/test_archon_integration.sh
  docs/ARCHON_INTEGRATION.md
  docs/ARCHON_SERVER_SETUP.md
Owners: @codeowners, @infrastructure, @documentation

fix: resolve Archon MCP connection issues and document permanent solution
  bin/setup-archon-mcp.sh
  bin/test_archon_integration.sh
  docs/ARCHON_INTEGRATION.md
  docs/ARCHON_OCI_FIREWALL_FIX.md
Owners: @infrastructure, @documentation

feat: add AI-powered screenshot analysis and infrastructure provisioning
  .clauderc
  bin/provision-infrastructure.sh
  bin/take-screenshot.sh
  docs/NEW_FEATURES.md
Owners: @codeowners, @infrastructure, @documentation

feat: add complete unified workflow system
  .clauderc
  CLAUDE.md
  README.md
  bin/complete-workflow.sh
  bin/interceptors/black
  bin/interceptors/pip
  bin/interceptors/pip3
  bin/interceptors/pytest
  bin/interceptors/python
  bin/interceptors/python3
  bin/interceptors/ruff
  bin/interceptors/uv
  bin/oos-install-into-project.sh
  bin/setup-shell-environment.sh
  bin/test-all-commands
  bin/test-documentation-coverage
  bin/test-user-scenarios
  bin/validate-oos
  docs/COMPLETE_WORKFLOW.md
  docs/features/USER_TESTING.md
  sedRHDg9Z
  tests/scenarios/help-me.scenarios
  tests/scenarios/provision.scenarios
  tests/scenarios/screenshot.scenarios
  tests/scenarios/start-coding.scenarios
  tests/scenarios/test-feature.scenarios
  tests/scenarios/test-user-scenarios.scenarios
  tests/scenarios/validate-oos.scenarios
  validation-report.md
Owners: @codeowners, @documentation, @infrastructure, @quality-assurance

fix: add markdown slash commands for workflow integration
  .claude/commands/complete-workflow.md
  .claude/commands/idea-to-done.md
  .claude/commands/provision.md
  .claude/commands/ruat.md
  .claude/commands/screenshot.md
  .claude/commands/test-user-scenarios.md
  .claude/commands/validate.md
  .claude/project_commands.json
  .claude/slash_commands.json
Owners: @codeowners

fix: ensure markdown commands are copied during OOS installation
  bin/oos-install-into-project.sh
Owners: @infrastructure

feat: add comprehensive slash command troubleshooting and validation
  .claude/commands/reload-commands.md
  .claude/commands/test-debug.md
  bin/oos-install-into-project.sh
  docs/SLASH_COMMANDS.md
  validation-report.md
Owners: @codeowners, @infrastructure, @documentation

fix: add missing workflow scripts to OOS installation
  bin/oos-install-into-project.sh
Owners: @infrastructure

feat: add auto-refresh system for slash commands with validation
  .claude/commands/oos-refresh.md
  .claude/commands/startup-check.md
  bin/oos-install-into-project.sh
  bin/oos-refresh-commands.sh
Owners: @codeowners, @infrastructure

docs: update README with auto-refresh system documentation
  README.md
Owners: @documentation

fix: improve validation script command extraction and mapping logic
  bin/validate-oos
Owners: @infrastructure

fix: resolve slash command validation issues and improve success criteria
  .claude/commands_backup_20251011_140347/archon-complete.md
  .claude/commands_backup_20251011_140347/archon-research.md
  .claude/commands_backup_20251011_140347/archon-status.md
  .claude/commands_backup_20251011_140347/archon-task-start.md
  .claude/commands_backup_20251011_140347/auto-fix.md
  .claude/commands_backup_20251011_140347/brain-dump.md
  .claude/commands_backup_20251011_140347/clarify.md
  .claude/commands_backup_20251011_140347/complete-workflow.md
  .claude/commands_backup_20251011_140347/context-stats.md
  .claude/commands_backup_20251011_140347/create-project.md
  .claude/commands_backup_20251011_140347/dev-setup.md
  .claude/commands_backup_20251011_140347/doc-check.md
  .claude/commands_backup_20251011_140347/help-me.md
  .claude/commands_backup_20251011_140347/idea-to-done.md
  .claude/commands_backup_20251011_140347/meta-ai.md
  .claude/commands_backup_20251011_140347/modules.md
  .claude/commands_backup_20251011_140347/oos-refresh.md
  .claude/commands_backup_20251011_140347/optimize.md
  .claude/commands_backup_20251011_140347/pre-commit.md
  .claude/commands_backup_20251011_140347/provision.md
  .claude/commands_backup_20251011_140347/reload-commands.md
  .claude/commands_backup_20251011_140347/ruat.md
  .claude/commands_backup_20251011_140347/screenshot.md
  .claude/commands_backup_20251011_140347/security-review.md
  .claude/commands_backup_20251011_140347/smart-commit.md
  .claude/commands_backup_20251011_140347/start-coding.md
  .claude/commands_backup_20251011_140347/startup-check.md
  .claude/commands_backup_20251011_140347/test-connection.md
  .claude/commands_backup_20251011_140347/test-debug.md
  .claude/commands_backup_20251011_140347/test-user-scenarios.md
  .claude/commands_backup_20251011_140347/update-oos.md
  .claude/commands_backup_20251011_140347/validate.md
  .claude/commands_backup_20251011_140347/workflow.md
  bin/oos-refresh-commands.sh
  bin/sed4sJCuy
  bin/sedxXxwqB
  src/sed5X5REC
  validation-report.md
Owners: @codeowners, @infrastructure

feat: comprehensive system fixes and 1Password automation integration
  .claude/commands/op-get.md
  .claude/commands/op-secret.md
  .claude/commands/op-session-automated.md
  .claude/commands/op-session.md
  .claude/commands/op-setup.md
  .claude/commands/op-signin.md
  .claude/commands/op-status.md
  bin/dev-gate.sh
  bin/init-op-connection.sh
  bin/op-auth-automated.sh
  bin/op-secret-manager.sh
  bin/op-session-manager.sh
  bin/op-setup-vm.sh
  bin/setup-oos-service-account.sh
  bin/setup-op-persistent.sh
  docs/1PASSWORD_AUTOMATION.md
Owners: @codeowners, @infrastructure, @documentation

feat: standardize 45 slash commands to official Claude Code patterns
  slash-command-consistency-fix/.gitignore
  slash-command-consistency-fix/README.md
  slash-command-consistency-fix/pyproject.toml
  slash-command-consistency-fix/src/fix_slash_commands.py
  slash-command-consistency-fix/src/slash-command-consistency-fix/__init__.py
  slash-command-consistency-fix/src/slash-command-consistency-fix/main.py
  slash-command-consistency-fix/tests/__init__.py
  slash-command-consistency-fix/tests/test_main.py
Owners: @codeowners, @documentation

feat: complete OOS system with agentic workflows and final integrations
  .coverage
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .gitignore
  .oos/agentic-workflow-state.json
  .oos/agentic/active
  .oos/habits/automation.sh
  .oos/habits/daily-reminder.sh
  .oos/habits/streaks.json
  .pre-commit-config.yaml
  .python-version
  AGENTS.md
  README.md
  bin/agentic-daily.sh
  bin/agentic-habits.sh
  bin/agentic-workflow-orchestrator.sh
  bin/complete-workflow.sh
  bin/dev-gate.sh
  bin/workflow-pipeline.sh
  docs/AGENTIC_WORKFLOW_SYSTEM.md
  pyproject.toml
  security-audit/scan-20251011-224953.json
  security-audit/scan-20251011-225013.json
  security-audit/scan-20251011-225029.json
  src/__init__.py
  tests/test_basic.py
  uv.lock
  validation-report.md
Owners: @codeowners, @devops, @documentation, @infrastructure, @backend, @quality-assurance

feat: complete slash command consolidation (45→10 commands)
  .claude/commands/archon.md
  .claude/commands/check.md
  .claude/commands/dev.md
  .claude/commands/fix.md
  .claude/commands/op.md
  .claude/commands/project.md
  .claude/commands/task.md
  .claude/commands/test.md
  .claude/commands/think.md
  .claude/commands/workflow.md
  CLAUDE.md
  README.md
  bin/claude-archon.sh
  bin/claude-check.sh
  bin/claude-dev.sh
  bin/claude-fix.sh
  bin/claude-op.sh
  bin/claude-project.sh
  bin/claude-task.sh
  bin/claude-test.sh
  bin/claude-think.sh
  bin/claude-workflow.sh
  bin/migrate-commands.sh
  docs/MCP_INTEGRATION_VALIDATION.md
  slash-command-analysis.md
  src/command_consolidator.py
  tests/scenarios/consolidated-commands.scenarios
  validation-report.md
Owners: @codeowners, @documentation, @infrastructure, @quality-assurance

feat: add comprehensive PRD for OOS Task Memory System
  PRD_OOS_TASK_MEMORY.md
Owners: @codeowners
