Repository Khamel83/oos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @codeowners, @infrastructure, @backend, @frontend, @devops, @documentation, @security, @quality-assurance, @architecture

feat: update PRD to hybrid Archon integration + keep-alive system
  PRD_OOS_TASK_MEMORY.md
Owners: @codeowners

docs: add comprehensive Phase 2 (Preferences & Patterns) vision to PRD
  PRD_OOS_TASK_MEMORY.md
Owners: @codeowners

feat: complete Stage 2 setup files for OOS Task Memory autonomous build
  OOS_TASK_MEMORY_BUILD/.claude_code_rules
  OOS_TASK_MEMORY_BUILD/CONTEXT.md
  OOS_TASK_MEMORY_BUILD/IMPLEMENTATION_PLAN.md
  OOS_TASK_MEMORY_BUILD/INITIAL_PROMPT.md
  OOS_TASK_MEMORY_BUILD/PRD_OOS_TASK_MEMORY.md
  OOS_TASK_MEMORY_BUILD/README_TRANSFER.md
Owners: @codeowners

fix: installer now installs exactly 11 commands
  install.sh
Owners: @codeowners

fix: installer now downloads all required command scripts
  install.sh
Owners: @codeowners

feat: complete documentation system and master index
  FINAL_VALIDATION_REPORT.md
  IMPROVED_DEVELOPMENT_PROCESS.md
  LESSONS_LEARNED.md
  OOS_MASTER_INDEX.md
Owners: @codeowners

feat: complete AI SDK + OpenRouter + RelayQ + Archon full stack integration
  .relayq_config.json
  bin/oos-full-stack
  docs/FULL_STACK_INTEGRATION.md
  requirements.txt
  src/ai_provider.py
  src/archon_sync.py
  src/oos_full_stack.py
  src/relayq_architecture.py
  tests/test_full_stack_integration.py
Owners: @codeowners, @infrastructure, @documentation, @backend, @quality-assurance

fix: resolve SSH and Archon 404 issues with comprehensive documentation
  QUICK_SETUP_GUIDE.md
  src/archon_sync.py
  src/ssh_manager.py
Owners: @codeowners

SECURITY: Remove all exposed API keys and strengthen credential protection
  .gitignore
  FINAL_MODEL_STRATEGY.md
  test_basic_access.py
  test_model_access.py
Owners: @codeowners

SECURITY: Implement comprehensive API key protection system
  .env.template
  FINAL_MODEL_STRATEGY.md
  bin/check-for-keys.sh
  bin/prevent_api_key_commits.sh
  docs/FAKE_API_KEYS.md
  docs/SECURITY_SETUP_MANDATORY.md
Owners: @codeowners, @infrastructure, @documentation

fix: update security patterns to handle fake API keys in documentation
  bin/prevent_api_key_commits.sh
  docs/SECURITY_SETUP_MANDATORY.md
Owners: @infrastructure, @documentation

fix: remove problematic API key example from security documentation
  bin/prevent_api_key_commits.sh
Owners: @infrastructure

fix: update ActionResult tests to match API changes
  tests/test_actions_gateway.py
Owners: @quality-assurance

feat: implement industry-standard security with universal secret access
  .pre-commit-config.yaml
  bin/check-env-gitignore.sh
  bin/demo-universal-access.sh
  bin/universal-secret-manager.sh
  bin/validate-no-secrets.sh
  docs/INDUSTRY_SECURITY_STANDARDS.md
  docs/OOS_ARCHON_HARMONY.md
  docs/SECURITY_INCIDENT_POSTMORTEM.md
  docs/SECURITY_VERIFICATION_PLAN.md
  setup-industry-security.sh
Owners: @codeowners, @infrastructure, @documentation

fix: update documentation examples to use standardized fake API keys
  bin/validate-no-secrets.sh
  docs/INDUSTRY_SECURITY_STANDARDS.md
  docs/OOS_ARCHON_HARMONY.md
  docs/SECURITY_VERIFICATION_PLAN.md
Owners: @infrastructure, @documentation

fix: add documentation placeholders to security allowlist
  bin/validate-no-secrets.sh
Owners: @infrastructure

feat: add simple secrets management system and fix deprecation warnings
  .claude/commands/archon.md
  .claude/commands/check.md
  .claude/commands/dev.md
  .claude/commands/fix.md
  .claude/commands/help.md
  .claude/commands/op.md
  .claude/commands/project.md
  .claude/commands/task.md
  .claude/commands/test.md
  .claude/commands/think.md
  .claude/commands/workflow.md
  CHANGELOG.md
  GITHUB_PROJECT_TEMPLATE.md
  README.md
  README_TEMPLATE.md
  bin/ai-secrets-client.py
  bin/get-secrets.py
  bin/setup-just-works-security.sh
  bin/setup-new-project.sh
  bin/setup-simple-security.sh
  docs/FINAL_SIMPLE_SOLUTION.md
  pyproject.toml
  uv.lock
Owners: @codeowners, @documentation, @infrastructure, @backend

docs: comprehensive AI SDK and RelayQ integration documentation
  CHANGELOG.md
  README.md
Owners: @codeowners, @documentation

fix: install script now actually installs Python dependencies
  bin/oos-task
  docs/WHY_IT_DOESNT_WORK.md
  install.sh
Owners: @infrastructure, @documentation, @codeowners

docs: comprehensive simplification plan for OOS v2
  SIMPLIFICATION_PLAN.md
  SIMPLIFICATION_SUMMARY.md
Owners: @codeowners

docs: critical philosophy correction - setup once, use forever
  OOS_PHILOSOPHY_CORRECTION.md
  bin/oos-setup-wizard
Owners: @codeowners, @infrastructure

feat: smart setup wizard + agentic development support
  AGENTIC_DEVELOPMENT.md
  bin/oos-setup-wizard
Owners: @codeowners, @infrastructure

fix: make OOS actually work with honest documentation
  QUICK_START_THAT_ACTUALLY_WORKS.md
  README.md
  bin/claude-task.sh
  docs/WHY_OOS_DOESNT_WORK.md
Owners: @codeowners, @documentation, @infrastructure

chore: update AGENTS.md to ONE_SHOT v13
  AGENTS.md
Owners: @codeowners

chore: sync oneshot framework (skills, agents, AGENTS.md)
  .claude/skills/INDEX.md
  .claude/skills/SKILLS_REFERENCE.md
  .claude/skills/conduct/SKILL.md
  .claude/skills/conduct/templates/ROADMAP.md
  .claude/skills/conduct/templates/STATE.md
  .claude/skills/conduct/templates/config.json
  .claude/skills/doc/SKILL.md
  .claude/skills/freesearch/SKILL.md
  .claude/skills/full/SKILL.md
  .claude/skills/handoff/SKILL.md
  .claude/skills/research/SKILL.md
  .claude/skills/restore/SKILL.md
  .claude/skills/secrets/SKILL.md
  .claude/skills/short/SKILL.md
  .claude/skills/vision/SKILL.md
  AGENTS.md
Owners: @codeowners

chore: sync oneshot framework (skills, agents, AGENTS.md)
  .claude/skills/INDEX.md
  .claude/skills/_shared/providers.md
  .claude/skills/conduct/SKILL.md
  .claude/skills/freesearch/SKILL.md
  .claude/skills/full/SKILL.md
  .claude/skills/short/SKILL.md
Owners: @codeowners

chore: sync oneshot framework (skills, agents, AGENTS.md)
  .claude/skills/INDEX.md
  .claude/skills/_shared/dispatch.md
  .claude/skills/_shared/providers.md
  .claude/skills/conduct/SKILL.md
  .claude/skills/debug/SKILL.md
  .claude/skills/freesearch/SKILL.md
  .claude/skills/full/SKILL.md
  .claude/skills/handoff/SKILL.md
  .claude/skills/janitor/SKILL.md
  .claude/skills/research/SKILL.md
  .claude/skills/secrets/SKILL.md
  .claude/skills/short/SKILL.md
  .claude/skills/tdd/SKILL.md
  AGENTS.md
Owners: @codeowners

chore: sync oneshot framework (skills, agents, AGENTS.md)
  .claude/skills/update/SKILL.md
Owners: @codeowners

fix: replace humanizer gitlink with actual skill files, sync framework
  AGENTS.md
Owners: @codeowners

chore: sync oneshot framework (skills, agents, AGENTS.md)
  .claude/skills/INDEX.md
  .claude/skills/_shared/providers.md
  .claude/skills/conduct/SKILL.md
  .claude/skills/doc/SKILL.md
  .claude/skills/full/SKILL.md
  .claude/skills/research/SKILL.md
  .claude/skills/short/SKILL.md
Owners: @codeowners

chore: bootstrap LLM-OVERVIEW files 2026-05-10
  LLM-OVERVIEW.md
Owners: @codeowners

chore: add Homelab project contract
  homelab.yaml
Owners: @codeowners

docs: reconcile repository context and TODOs
  CONTEXT.md
  TODO.md
Owners: @codeowners

docs: reconcile repository context and TODOs
  CONTEXT.md
  TODO.md
Owners: @codeowners

.github/CODEOWNERS:

# CODEOWNERS file for code review assignments
# Global ownership - all files
* @codeowners

# Core infrastructure
/bin/ @infrastructure
/scripts/ @infrastructure
/lib/ @backend
/dashboard/ @frontend

# Configuration and CI/CD
/.github/ @devops
/pyproject.toml @backend
/requirements*.txt @backend
/run.py @backend

# Documentation
/docs/ @documentation
README.md @documentation
CONTRIBUTING.md @documentation
SECURITY.md @security

# Tests
/tests/ @quality-assurance

# Templates and specs
/templates/ @architecture
/specs/ @architecture
