Repository Khamel83/oos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @codeowners, @infrastructure, @backend, @frontend, @devops, @documentation, @security, @quality-assurance, @architecture

docs: Add vision document for Personal Operational Intelligence System
  docs/PERSONAL_OPS_VISION.md
Owners: @documentation

docs: Add comprehensive context engineering research
  bin/prevent_api_key_commits.sh
  docs/context_engineering_research.md
Owners: @infrastructure, @documentation

feat: add meta-AI prompt enhancement system for better Claude responses
  README.md
  bin/claude-help-me.sh
  bin/meta-ai-enhancer.py
  config/prompt_templates.json
Owners: @documentation, @infrastructure, @codeowners

feat: install OOS for the OOS project itself - complete slash commands system
  .claude/mcp_servers.json
  .claude/slash_commands.json
  bin/bootstrap_monitor.sh
  bin/clarification_cli.py
  bin/claude-auto-fix.sh
  bin/claude-brain-dump.sh
  bin/claude-clarify.sh
  bin/claude-context-stats.sh
  bin/claude-doc-check.sh
  bin/claude-meta-ai.sh
  bin/claude-optimize.sh
  bin/claude-smart-commit.sh
  bin/claude-workflow.sh
  bin/claude-zai
  bin/development_guide.sh
  bin/diagnose.sh
  bin/generate-runner.sh
  bin/health_monitor.sh
  bin/key_rotator.sh
  bin/mcp_manager.sh
  bin/oos-doctor
  bin/performance_monitor.sh
  bin/prevent_api_key_commits.sh
  bin/secrets.sh
  bin/security_audit.sh
  bin/template_manager.sh
Owners: @codeowners, @infrastructure

refactor: massive code simplification - 27.5% reduction (1,794 lines removed)
  README.md
  bin/template_manager.sh
  pyproject.toml
  requirements.txt
  src/claude_integration.py
  src/command_generator.py
  src/simple_command_handler.py
Owners: @documentation, @infrastructure, @backend, @codeowners

test: fix remaining test issues and complete comprehensive validation
  requirements.txt
  tests/test_claude_integration.py
  tests/test_command_generator.py
  tests/test_end_to_end.py
  tests/test_end_to_end_simple.py
Owners: @backend, @quality-assurance

feat: add MCP server functionality for Claude Code integration
  bin/oos-mcp-server.sh
  bin/setup-claude-mcp.sh
Owners: @infrastructure

feat: optimize CI/CD workflow and test suite
  .github/workflows/ci-old.yml
  .github/workflows/ci.yml
  .gitignore
  auth.py
  bin/key_rotator.sh
  scripts/cc-launchers.sh
  scripts/check-task-prerequisites.sh
  scripts/common.sh
  scripts/create-new-feature.sh
  scripts/get-feature-paths.sh
  scripts/setup-plan.sh
  scripts/update-agent-context.sh
  tests/archive/test_bootstrap_safe_files.sh
  tests/archive/test_common.sh
  tests/archive/test_key_management.sh
  tests/archive/test_lib.sh
  tests/archive/test_safe_source_env.sh
  tests/archive/test_security.sh
  tests/archive/test_simple.sh
  tests/archive/test_zai_integration.sh
  tests/archive/test_zai_simple.sh
  tests/archive/test_zero_to_ai.sh
  tests/test_learning_system.py
  tests/test_repository_analyzer.py
  tests/test_security_critical.py
  tests/test_shell_comprehensive.py
  tests/test_workflow_orchestrator.py
Owners: @devops, @codeowners, @infrastructure, @quality-assurance

feat: add Claude Code integration documentation for automatic OOS setup
  CLAUDE_CODE_INTEGRATION.md
  README.md
Owners: @codeowners, @documentation

test: add Claude Code integration verification script
  test-claude-integration.js
Owners: @codeowners

feat: simplify OOS Claude Code integration documentation
  CLAUDE_CODE_SETUP.md
  README.md
  SETUP.md
Owners: @codeowners, @documentation

feat: finalize OOS Claude Code integration and move demo files
  .coverage
  OOS_INTEGRATION_ANALYSIS.md
  examples/demo_new_oos.py
  tests/test_claude_integration.py
  tests/test_context_engineering.py
  tests/test_end_to_end.py
  tests/test_learning_system.py
  tests/test_repository_analyzer.py
  tests/test_workflow_orchestrator.py
Owners: @codeowners, @quality-assurance

feat(posix): enforce portable POSIX shell across macOS+Ubuntu
  .claude/constraints/portable-posix.md
  .githooks/pre-commit
  .github/workflows/shell-portability.yml
  Makefile
  README.md
  bin/oos-doctor
  bin/oos-doctor-posix-check
  bin/oos-posix-bootstrap
  docs/CLAUDE_CODE_INTEGRATION.md
  docs/PORTABLE_SHELL.md
  scripts/posix/portable.sh
  templates/sh/template.sh
Owners: @codeowners, @devops, @documentation, @infrastructure, @architecture

feat: complete OOS refactor with real AI project generation
  bin/demo-complete-system.py
  bin/simple-background-test.py
  bin/test-background-processing.py
  bin/test-real-ai-generation.py
  bin/test-universal-commands.py
  docs/google-sheets-integration-design.md
  docs/persistent-assistant-design.md
  docs/project-templates-design.md
  scripts/oos-setup.py
  src/actions_gateway.py
  src/background_processor.py
  src/capability_router.py
  src/commands/actions_command.py
  src/commands/capabilities_command.py
  src/cost_manager.py
  src/google_sheets_integration.py
  src/knowledge_resolver.py
  src/oos_cli.py
  src/oos_daemon.py
  src/renderers.py
  src/safety_guardrails.py
  src/simple_command_handler.py
  src/template_engine.py
  src/visual_feedback.py
Owners: @infrastructure, @documentation, @codeowners

🚨 CRITICAL: Fix 7 Google Search charges - implement cost controls
  docs/API_COST_ANALYSIS.md
  lib/google_search_fallback.py
Owners: @documentation, @backend

fix: complete cost management and universal command system
  chatbot-project/README.md
  chatbot-project/main.py
  chatbot-project/requirements.txt
  config/ontology.yaml
  data/google_search_config.json
  docs/SERVICE_INTEGRATIONS.md
  mcp_server.py
  scripts/install.sh
  scripts/update-to-capability-layer.sh
  src/actions_gateway.py
  test_template_engine.py
  tests/test_actions_gateway.py
  tests/test_capability_layer_integration.py
  tests/test_capability_router.py
  tests/test_knowledge_resolver.py
Owners: @documentation, @codeowners, @infrastructure, @quality-assurance

feat: implement 100% free search alternatives and disable Google Custom Search
  data/google_search_config.json
  docs/FREE_SEARCH_STRATEGY.md
  src/free_search_alternatives.py
Owners: @codeowners, @documentation

feat: add Perplexity API integration for Pro subscription credits
  docs/PERPLEXITY_API_SETUP.md
  scripts/oos-setup.py
  src/free_search_alternatives.py
Owners: @documentation, @infrastructure, @codeowners

feat: bulletproof Perplexity usage safety system
  docs/PERPLEXITY_SAFETY_DEMO.md
  src/free_search_alternatives.py
  src/perplexity_usage_manager.py
Owners: @documentation, @codeowners

feat: complete OOS CLI integration with seamless search experience
  oos
  src/oos_cli.py
Owners: @codeowners

feat: add self-referential learning system to prevent repeated lessons
  bin/claude-smart-commit.sh
  docs/ADD_SEARCH_TO_EXISTING_OOS.md
  examples/integrate_oos_search.py
  install.sh
  integration_package/copy_slash_commands.sh
  integration_package/quick_slash_setup.sh
  test_complete_integration.sh
  universal_installer.sh
Owners: @infrastructure, @documentation, @codeowners

fix: handle existing 'oos' directory conflicts in installer
  install.sh
  universal_installer.sh
Owners: @codeowners

fix: enable GitHub download in universal installer
  install.sh
Owners: @codeowners

🚀 Production Release v1.0.0
  CHANGELOG.md
  README.md
  VERSION
  fix_google_search_costs.sh
  install.sh
  test_production.sh
Owners: @codeowners, @documentation

fix: ensure search functionality works in all project types
  install.sh
Owners: @codeowners

docs: enhance contribution guidelines for production
  CONTRIBUTING.md
Owners: @documentation

feat: integrate Archon MCP as core OOS component
  scripts/bootstrap_enhanced.sh
Owners: @infrastructure

docs: fix inaccurate Archon integration documentation
  README.md
  docs/ARCHON_INTEGRATION.md
Owners: @documentation

🚀 Release OOS v1.1.0 - Persistent Intelligence
  .claude/commands/archon-complete.md
  .claude/commands/archon-research.md
  .claude/commands/archon-status.md
  .claude/commands/archon-task-start.md
  README.md
  RELEASE_NOTES_v1.1.0.md
  bin/oos-daemon
  bin/oos-doctor
  bin/oos-op
  docs/ARCHON_INTEGRATION.md
  scripts/bootstrap_enhanced.sh
  src/oos_cli.py
  src/oos_daemon.py
  src/renderers.py
Owners: @codeowners, @documentation, @infrastructure

🧠 Add Strategic Consultant System - Complete AI consultant brain with Archon integration
  config/consultant.yaml
  src/adaptive_planner.py
  src/archon_integration.py
  src/commands/consultant_command.py
  src/config_loader.py
  src/execution_driver.py
  src/simple_command_handler.py
  src/strategic_consultant.py
  templates/._a3.md.j2
  templates/._impact_effort.csv.j2
  templates/._ost.mmd.j2
  templates/._plan.md.j2
  templates/._rice.csv.j2
  templates/a3.md.j2
  templates/impact_effort.csv.j2
  templates/ost.mmd.j2
  templates/plan.md.j2
  templates/rice.csv.j2
  update-oos.sh
  update_oos.py
Owners: @codeowners, @architecture

feat: complete strategic consultant integration
  .claude/slash_commands.json
  bin/claude-command.sh
  src/commands/actions_command.py.backup
  src/commands/capabilities_command.py
Owners: @codeowners, @infrastructure

feat: add self-referential learning system to prevent repeated lessons
  README.md
  bin/archon_learning.sh
  bin/integrate_to_parent.sh
  memory/anti_patterns.md
  memory/lessons_learned/inefficient_repository_update_flow.json
Owners: @documentation, @infrastructure, @codeowners

feat: add auto-efficiency patterns for Claude Code
  .claude/auto_patterns.json
  .claude/constraints/auto_efficiency.md
  docs/CLAUDE_PATTERNS.md
Owners: @codeowners, @documentation

feat: create ultimate single-prompt OOS update solution
  .claude/constraints/auto_efficiency.md
  .claude/slash_commands.json
  bin/claude-oos-update.sh
Owners: @codeowners, @infrastructure

fix: integration script now properly adds /consultant to slash commands
  bin/integrate_to_parent.sh
Owners: @infrastructure

fix: fundamental integration reliability - bulletproof JSON handling
  bin/archon_learning.sh
  bin/integrate_to_parent.sh
  bin/integrate_to_parent_broken.sh
  bin/test_integration.sh
  memory/anti_patterns.md
Owners: @infrastructure, @codeowners

fix: replace overcomplicated integration with simple 5-line solution
  bin/integrate_to_parent.sh
  bin/integrate_to_parent_overcomplicated.sh
Owners: @infrastructure

feat: add simple 5-line alternatives to overcomplicated scripts
  SIMPLIFICATION_PLAN.md
  bin/simple_diagnose.sh
  bin/simple_performance.sh
  bin/simple_security.sh
  bin/simple_template.sh
  bin/simplify_audit.sh
Owners: @codeowners, @infrastructure

docs: add v2 vision document for task orchestration framework
  docs/V2_VISION.md
Owners: @documentation

feat: OOS v1.2 - bulletproof task runner that never stops until complete
  .oos/execution_state.json
  .oos/tasks.json
  README_V1.2.md
  bin/oos-v1.2.sh
  bin/task_runner.sh
Owners: @codeowners, @infrastructure

.github/CODEOWNERS:

# CODEOWNERS file for code review assignments
# Global ownership - all files
* @codeowners

# Core infrastructure
/bin/ @infrastructure
/scripts/ @infrastructure
/lib/ @backend
/dashboard/ @frontend

# Configuration and CI/CD
/.github/ @devops
/pyproject.toml @backend
/requirements*.txt @backend
/run.py @backend

# Documentation
/docs/ @documentation
README.md @documentation
CONTRIBUTING.md @documentation
SECURITY.md @security

# Tests
/tests/ @quality-assurance

# Templates and specs
/templates/ @architecture
/specs/ @architecture
